* {
  margin: 0;
}

@font-face {
  font-family: RobotoCondensed;
  src: url(fonts/RobotoCondensed-Regular.ttf);
}

.calc-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-header-background {
  position: relative;
  max-height: 400px;
  width: 100%;
}

.calc-header-logo {
  position: absolute;
}

.calc-main-title {
  font-family: RobotoCondensed, regular;
  font-size: 32px;
  text-align: center;
  margin: 30px;
}

.calc-main-form-title {
  font-family: RobotoCondensed, regular;
  margin: 20px 30px;
}

form {
  margin: 0 40px;
}

.calc-main-description {
  margin: 20px;
}

.calk-main-result-button {
    margin-top: 20px;
}

.calk-main-result {
  text-align: center;
  margin: 40px;
  font-weight: bold;
}

.calc-footer-nav {
  display: flex;
  justify-content: center;
  margin: 20px;
  text-decoration: none;
  list-style: none;
  padding-left: 0;
}

.calc-footer-nav-button {
  justify-content: center;
  margin: 20px;
}

.calc-footer-background {
  background-image: url(img/bg\ rgb.jpg);
  width: 100%;
  height: 200px;
}

.calc-footer-copyright {
  font-size: 18px;
  text-align: center;
  padding-top: 150px;
}

/*MEDIA*/
@media (min-width: 360px) {
  .calc-header-logo {
    max-height: 130px;
  }

  .calc-footer-nav-button {
    margin: 10px;
  }
}

@media (min-width: 600px) {
  .calc-header-logo {
    max-height: 200px;
  }
}

@media (min-width: 900px) {
  *{
    font-size: 24px;
  }
  
  .calc-header-logo {
    max-height: 300px;
  }
}